html {
  font-size: 100px;
}
body {
  background-color: #fff;
  font-size: .12rem;
  line-height: .12rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #333333;
}
ul {
  list-style: none;
}
i,
strong,
u {
  font-style: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: .16rem;
  font-size: .12rem;
}
img {
  vertical-align: middle;
}
input[type=email],
input[type=search],
input[type=text],
input[type=password] {
  margin: 0;
}
input[type=search] {
  text-align: left;
}
.shade {
  width: .135rem;
  height: .135rem;
  position: absolute;
  background-image: url('../images/shade.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: .09rem;
  left: .11rem;
}
