html {
  font-size: 100px;
}
body {
  background-color: #fff;
  font-size: .12rem;
  line-height: .12rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #333333;
}
ul {
  list-style: none;
}
i,
strong,
u {
  font-style: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: .16rem;
  font-size: .12rem;
}
img {
  vertical-align: middle;
}
input[type=email],
input[type=search],
input[type=text],
input[type=password] {
  margin: 0;
}
input[type=search] {
  text-align: left;
}
.shade {
  width: .135rem;
  height: .135rem;
  position: absolute;
  background-image: url('../images/shade.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: .09rem;
  left: .11rem;
}
html,
body {
  height: 100%;
}
.main {
  width: 100%;
  min-height: 100%;
  color: #fff;
  padding-top: .225rem;
  padding-bottom: .225rem;
  box-sizing: border-box;
  background-color: #010118;
  position: relative;
}
.main .nav {
  width: 3.3rem;
  height: .67rem;
  margin: 0 auto;
}
.main .nav > div ul {
  display: flex;
  justify-content: space-between;
}
.main .nav > div ul li {
  width: 1rem;
  height: .65rem;
  font-size: .16rem;
  font-weight: bolder;
  line-height: .55rem;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .nav > div ul .active.ybg {
  background-image: url('../images/quality-yellowBg.gif');
}
.main .nav > div ul .active.bbg {
  background-image: url('../images/quality-blueBg.gif');
}
.main .nav > div ul .active.gbg {
  background-image: url('../images/quality-greenBg.gif');
}
.main .nav > div ul .ybg {
  background-image: url('../images/quality-yellowBg.png');
}
.main .nav > div ul .bbg {
  background-image: url('../images/quality-blueBg.png');
}
.main .nav > div ul .gbg {
  background-image: url('../images/quality-greenBg.png');
}
.main .list {
  width: 3.3rem;
  margin: 0 auto;
  margin-top: .105rem;
  border: .01rem solid #0f1f53;
  border-radius: .03rem;
  padding-left: .03rem;
  padding-right: .03rem;
  padding-bottom: .1rem;
  box-sizing: border-box;
}
.main .list .list-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: .01rem solid #0f1f53;
  box-sizing: border-box;
}
.main .list .list-nav span {
  font-size: .13rem;
  line-height: .31rem;
}
.main .list .list-nav .active {
  color: #2555be;
  border-bottom: .02rem solid #2555be;
}
.main .list .list-centent {
  box-sizing: border-box;
  padding-left: .1rem;
  padding-right: .1rem;
}
.main .list .list-centent ul li {
  margin-top: .13rem;
}
.main .list .list-centent ul li a {
  color: #fff;
  text-decoration: none;
}
.main .list .list-centent ul li a .title {
  height: .15rem;
  display: flex;
  justify-content: space-between;
}
.main .list .list-centent ul li a .title .title-name {
  font-size: .15rem;
}
.main .list .list-centent ul li a .title .title-state {
  color: #8d8e94;
  font-size: .12rem;
}
.main .list .list-centent ul li a .middle {
  margin-top: .1rem;
  font-size: .12rem;
}
.main .list .list-centent ul li a .middle > div {
  line-height: .22rem;
}
.main .list .list-centent ul li a .middle > div .name {
  display: inline-block;
  width: .5rem;
  color: #8d8e94;
}
.main .list .list-centent ul li a .middle > div .message {
  margin-left: .15rem;
}
.main .list .list-centent ul li a .middle .img-box {
  width: .6rem;
  height: .6rem;
  margin-top: .05rem;
  background-image: url('../images/temp4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .list .list-centent ul li a .middle .bottom {
  box-sizing: border-box;
  line-height: .34rem;
  border-bottom: .01rem solid #0f1f53;
}
.main .list .list-centent ul li a .middle .bottom .slight {
  float: left;
  width: .25rem;
  height: .34rem;
  background-image: url('../images/quality-slight.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .list .list-centent ul li a .middle .bottom .ordinary {
  float: left;
  width: .25rem;
  height: .34rem;
  background-image: url('../images/quality-ordinary.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .list .list-centent ul li a .middle .bottom .severity {
  float: left;
  width: .25rem;
  height: .34rem;
  background-image: url('../images/quality-severity.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .list .list-centent ul li a .middle .bottom .name {
  display: inline;
  margin-left: .1rem;
}
.main .list .list-centent ul li a .middle .bottom .message {
  margin-left: .1rem;
}
.main .list .list-centent ul li a .middle .bottom .time {
  float: right;
}
.main .list .list-centent ul li:last-child .bottom {
  border: none;
}
.main .list .screen-box {
  box-sizing: border-box;
  padding-left: .175rem;
}
.main .list .screen-box > div {
  margin-top: .2rem;
}
.main .list .screen-box > div .title {
  color: #b8b8bc;
  font-size: .13rem;
}
.main .list .screen-box > div .title .eliminate {
  float: right;
  color: #2555be;
}
.main .list .screen-box > div .option-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main .list .screen-box > div .option-box li {
  width: .91rem;
  height: .35rem;
  font-size: .135rem;
  font-weight: bolder;
  text-align: center;
  line-height: .35rem;
  border-radius: .03rem;
  background-color: #0f122c;
  overflow: hidden;
  margin-top: .1rem;
  margin-right: .09rem;
}
.main .list .screen-box > div .option-box .active {
  color: #2555be;
  background-color: #0b1948;
}
.main .list .screen-box > div .option-bar {
  color: #fff;
  font-size: .13rem;
  font-weight: bolder;
  line-height: .52rem;
  position: relative;
}
.main .list .screen-box > div .option-bar i {
  right: .175rem;
  width: .065rem;
  height: .52rem;
  position: absolute;
  background-image: url('../images/quality-arrows.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .list .screen-box .countersign {
  width: 1.6rem;
  height: .4rem;
  margin: 0 auto;
  overflow: hidden;
  font-size: .18rem;
  text-align: center;
  line-height: .4rem;
  border-radius: .03rem;
  background-color: #3375fe;
}
.main .backlog {
  width: 3.3rem;
  margin: 0 auto;
  margin-top: .105rem;
  border: .01rem solid #0f1f53;
  border-radius: .03rem;
  padding-left: .03rem;
  padding-right: .03rem;
  padding-bottom: .1rem;
  box-sizing: border-box;
}
.main .backlog .list-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: .01rem solid #0f1f53;
  box-sizing: border-box;
}
.main .backlog .list-nav span {
  font-size: .13rem;
  line-height: .31rem;
}
.main .backlog .list-nav .active {
  color: #2555be;
  border-bottom: .02rem solid #2555be;
}
.main .backlog .list-centent {
  box-sizing: border-box;
  padding-left: .1rem;
  padding-right: .1rem;
}
.main .backlog .list-centent ul li {
  margin-top: .13rem;
  position: relative;
}
.main .backlog .list-centent ul li a {
  color: #fff;
  text-decoration: none;
}
.main .backlog .list-centent ul li a .title {
  height: .15rem;
  display: flex;
  justify-content: space-between;
}
.main .backlog .list-centent ul li a .title .title-name {
  font-size: .15rem;
}
.main .backlog .list-centent ul li a .middle {
  margin-top: .1rem;
  font-size: .12rem;
}
.main .backlog .list-centent ul li a .middle > div {
  line-height: .22rem;
}
.main .backlog .list-centent ul li a .middle > div .name {
  display: inline-block;
  width: .5rem;
  color: #8d8e94;
}
.main .backlog .list-centent ul li a .middle > div .message {
  margin-left: .15rem;
}
.main .backlog .list-centent ul li a .middle .time {
  color: #8d8e94;
}
.main .backlog .list-centent ul li a .arrows {
  width: .065rem;
  height: 1.13rem;
  position: absolute;
  background-image: url('../images/quality-arrows.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
  top: 0;
}
.main .backlog .list-centent ul li:last-child .bottom {
  border: none;
}
.main .sponsor {
  width: 3.3rem;
  margin: 0 auto;
  margin-top: .105rem;
  border: .01rem solid #0f1f53;
  border-radius: .03rem;
  padding-left: .03rem;
  padding-right: .03rem;
  padding-bottom: .1rem;
  box-sizing: border-box;
}
.main .sponsor .img-box {
  width: .575rem;
  height: .745rem;
  margin: 0 auto;
  margin-top: .4rem;
  background-image: url('../images/quality-noData.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .sponsor .text-box {
  text-align: center;
  font-size: .15rem;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.main .inform {
  width: 3.3rem;
  margin: 0 auto;
  margin-top: .105rem;
  border: .01rem solid #0f1f53;
  border-radius: .03rem;
  padding-left: .03rem;
  padding-right: .03rem;
  padding-bottom: .1rem;
  box-sizing: border-box;
}
.main .inform .list-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: .01rem solid #0f1f53;
  box-sizing: border-box;
}
.main .inform .list-nav span {
  font-size: .13rem;
  line-height: .31rem;
}
.main .inform .list-nav .active {
  color: #2555be;
  border-bottom: .02rem solid #2555be;
}
.main .inform .list-centent {
  box-sizing: border-box;
  padding-left: .1rem;
  padding-right: .1rem;
}
.main .inform .list-centent ul li {
  margin-top: .13rem;
  position: relative;
  border-bottom: .01rem solid #0f1f53;
}
.main .inform .list-centent ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
}
.main .inform .list-centent ul li a .img-box {
  display: inline-block;
  width: .65rem;
  height: 1rem;
  background-image: url('../images/quality-messageBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .25rem .305rem;
}
.main .inform .list-centent ul li a .text-box {
  flex: 1;
  display: inline-block;
}
.main .inform .list-centent ul li a .text-box .title {
  height: .15rem;
  display: flex;
  justify-content: space-between;
}
.main .inform .list-centent ul li a .text-box .title .title-name {
  font-size: .15rem;
}
.main .inform .list-centent ul li a .text-box .title .title-state {
  color: #8d8e94;
}
.main .inform .list-centent ul li a .text-box .middle {
  margin-top: .1rem;
  font-size: .12rem;
}
.main .inform .list-centent ul li a .text-box .middle > div {
  line-height: .22rem;
  color: #8d8e94;
}
.main .inform .list-centent ul li a .text-box .middle .last-box {
  display: flex;
  justify-content: space-between;
}
.main .inform .list-centent ul li a .text-box .middle .last-box .left-box {
  width: 50%;
}
.main .inform .list-centent ul li:last-child {
  border: none;
}
.main .inform #warning ul li a .img-box {
  background-image: url('../images/quality-warningBg.png');
}
.main .inform #warning ul li a .text-box .title .title-state {
  color: #db5053;
}
.main .fixed-box {
  width: .5rem;
  height: .5rem;
  background-image: url('../images/quality-button.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  bottom: .45rem;
  right: .325rem;
}
.main .unit-box {
  box-sizing: border-box;
  top: .3rem;
  left: 50%;
  transform: translate(-50%);
  width: 3.3rem;
  height: 6rem;
  position: fixed;
  border: .01rem solid #0f1f53;
  border-radius: .03rem;
  background-color: rgba(2, 5, 33, 0.9);
  box-shadow: 0px 0px 40px #0f1f53 inset;
  padding-top: .34rem;
  padding-bottom: .34rem;
  z-index: 100;
  padding-left: .2rem;
  padding-right: .2rem;
  overflow: auto;
}
.main .unit-box ul li {
  font-size: .16rem;
  height: .38rem;
  line-height: .2rem;
  overflow: hidden;
  border-radius: .03rem;
}
.main .unit-box ul li:not(:nth-child(1)) {
  margin-top: .2rem;
}
.main .work-area-box {
  box-sizing: border-box;
  top: .3rem;
  left: 50%;
  transform: translate(-50%);
  width: 3.3rem;
  height: 6rem;
  position: fixed;
  border: .01rem solid #0f1f53;
  border-radius: .03rem;
  background-color: rgba(2, 5, 33, 0.9);
  box-shadow: 0px 0px 40px #0f1f53 inset;
  padding-top: .34rem;
  padding-bottom: .34rem;
  z-index: 100;
  padding-left: .2rem;
  padding-right: .2rem;
  overflow: auto;
}
.main .work-area-box ul li {
  font-size: .16rem;
  height: .38rem;
  line-height: .2rem;
  overflow: hidden;
  border-radius: .03rem;
}
.main .work-area-box ul li:not(:nth-child(1)) {
  margin-top: .2rem;
}
.main .shade-box {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 90;
  top: 0;
  left: 0;
}
