html {
  font-size: 100px;
}
body {
  background-color: #fff;
  font-size: .12rem;
  line-height: .12rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #333333;
}
ul {
  list-style: none;
}
i,
strong,
u {
  font-style: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: .16rem;
  font-size: .12rem;
}
img {
  vertical-align: middle;
}
input[type=email],
input[type=search],
input[type=text],
input[type=password] {
  margin: 0;
}
input[type=search] {
  text-align: left;
}
.shade {
  width: .135rem;
  height: .135rem;
  position: absolute;
  background-image: url('../images/shade.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: .09rem;
  left: .11rem;
}
.main {
  width: 100%;
  color: #fff;
  padding-top: .45rem;
  padding-bottom: .45rem;
  box-sizing: border-box;
  background-color: #010118;
}
.main .title {
  width: 3.3rem;
  height: .445rem;
  font-size: .18rem;
  font-weight: bolder;
  margin: 0 auto;
  text-align: center;
  line-height: .445rem;
  background-image: url('../images/labour-titleBorder.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .nav {
  width: 3.3rem;
  height: .755rem;
  margin: 0 auto;
  margin-top: .225rem;
}
.main .nav li {
  text-align: center;
}
.main .nav li img {
  width: 1.035rem;
  height: .67rem;
}
.main .nav .swiper-scrollbar {
  background-color: #80808c;
  width: .4rem;
  height: .025rem;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}
.main .nav .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #fff;
}
.main .content {
  width: 3.3rem;
  margin: 0 auto;
  margin-top: .125rem;
}
.main .content .towerCrane .silde-box {
  position: relative;
}
.main .content .towerCrane .silde-box .information {
  width: 3.3rem;
  height: .75rem;
  margin: 0 auto;
  padding: .1rem .375rem;
  box-sizing: border-box;
  background-image: url('../images/safety-InformationBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .content .towerCrane .silde-box .information .information-left {
  float: left;
  font-size: .18rem;
  font-weight: bolder;
  line-height: .55rem;
  background-image: url('../images/safety-operationBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .37rem .385rem;
}
.main .content .towerCrane .silde-box .information .information-middle {
  float: left;
  font-size: .13rem;
  margin-left: .25rem;
}
.main .content .towerCrane .silde-box .information .information-middle > div {
  font-weight: bolder;
  line-height: .265rem;
}
.main .content .towerCrane .silde-box .information .information-middle > div span {
  font-weight: normal;
}
.main .content .towerCrane .silde-box .information .information-right {
  float: left;
  width: .47rem;
  height: .52rem;
  margin-left: .1rem;
}
.main .content .towerCrane .silde-box .information .information-right img {
  width: 100%;
  height: 100%;
}
.main .content .towerCrane .silde-box .data {
  width: 3.3rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: .225rem;
  padding-top: .26rem;
  box-sizing: border-box;
  background-image: url('../images/safety-dataBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .content .towerCrane .silde-box .data .name {
  font-size: .18rem;
  font-weight: bolder;
  padding-left: .19rem;
  box-sizing: border-box;
}
.main .content .towerCrane .silde-box .data .top-data {
  height: .97rem;
  margin-top: .25rem;
}
.main .content .towerCrane .silde-box .data .top-data .left-box {
  float: left;
  font-size: .14rem;
  padding-top: .34rem;
  margin-left: .44rem;
  margin-right: .44rem;
}
.main .content .towerCrane .silde-box .data .top-data .middle-box {
  float: left;
  width: .97rem;
  height: .97rem;
  font-size: .14rem;
  background-image: url('../images/safety-centreBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  text-align: center;
  line-height: .97rem;
}
.main .content .towerCrane .silde-box .data .top-data .middle-box p {
  position: absolute;
  bottom: -0.21rem;
  left: 50%;
  transform: translate(-50%);
}
.main .content .towerCrane .silde-box .data .top-data .right-box {
  float: left;
  font-size: .14rem;
  padding-top: .34rem;
  margin-left: .44rem;
  margin-right: .44rem;
}
.main .content .towerCrane .silde-box .data .bottom-data {
  margin-top: .21rem;
}
.main .content .towerCrane .silde-box .data .bottom-data ul {
  display: flex;
  flex-wrap: wrap;
}
.main .content .towerCrane .silde-box .data .bottom-data ul li {
  width: 50%;
  margin-top: .3rem;
}
.main .content .towerCrane .silde-box .data .bottom-data ul li img {
  float: left;
  width: .26rem;
  height: .26rem;
  margin-left: .43rem;
}
.main .content .towerCrane .silde-box .data .bottom-data ul li .li-data {
  float: left;
  margin-left: .06rem;
}
.main .content .towerCrane .silde-box .data .service {
  font-size: .16rem;
  font-weight: bolder;
  text-align: center;
  margin-top: .21rem;
}
.main .content .elevator .silde-box {
  position: relative;
}
.main .content .elevator .silde-box .information {
  width: 3.3rem;
  height: .75rem;
  margin: 0 auto;
  padding: .1rem .375rem;
  box-sizing: border-box;
  background-image: url('../images/safety-InformationBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .content .elevator .silde-box .information .information-left {
  float: left;
  font-size: .18rem;
  font-weight: bolder;
  line-height: .55rem;
  background-image: url('../images/safety-operationBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .37rem .385rem;
}
.main .content .elevator .silde-box .information .information-middle {
  float: left;
  font-size: .13rem;
  margin-left: .25rem;
}
.main .content .elevator .silde-box .information .information-middle > div {
  font-weight: bolder;
  line-height: .265rem;
}
.main .content .elevator .silde-box .information .information-middle > div span {
  font-weight: normal;
}
.main .content .elevator .silde-box .information .information-right {
  float: left;
  width: .47rem;
  height: .52rem;
  margin-left: .1rem;
}
.main .content .elevator .silde-box .information .information-right img {
  width: 100%;
  height: 100%;
}
.main .content .elevator .silde-box .data {
  width: 3.3rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: .225rem;
  padding-top: .26rem;
  box-sizing: border-box;
  background-image: url('../images/safety-dataBg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .content .elevator .silde-box .data .name {
  font-size: .18rem;
  font-weight: bolder;
  padding-left: .19rem;
  box-sizing: border-box;
}
.main .content .elevator .silde-box .data .data-box ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: .25rem;
}
.main .content .elevator .silde-box .data .data-box ul li {
  width: 50%;
  height: 1.42rem;
  font-size: .175rem;
  font-weight: bolder;
  background-image: url('../images/safety-greenCircle.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: .99rem .99rem;
  position: relative;
  text-align: center;
  line-height: .99rem;
}
.main .content .elevator .silde-box .data .data-box ul li span {
  left: 50%;
  transform: translate(-50%);
  bottom: .2rem;
  color: #fff;
  width: 1rem;
  font-size: .13rem;
  font-weight: normal;
  position: absolute;
  line-height: normal;
}
.main .content .elevator .silde-box .data .service {
  font-size: .16rem;
  font-weight: bolder;
  text-align: center;
  margin-top: .095rem;
}
.anomaly {
  color: #ff3b30;
}
.normal {
  color: #4cd964;
}
.warning {
  color: #ff731c;
}
