<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../images/hujiang.ico" type="image/x-icon">
    <title>智慧工地</title>
    <link href="https://cdn.bootcss.com/Swiper/4.4.6/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/homePage.css">
</head>
<body>
    <!-- 首页 -->
    <div class="main">
        <!-- logo -->
        <div class="logo"></div>
        <!-- 项目名称 -->
        <div class="title">
            <span>创新科技中心项目</span>
        </div>
        <!-- 导航栏 -->
        <div class="nav">
            <div class="swiper-container" id="swiper2">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="./labour.html" class="top">
                            <img src="../images/homePage-labour.png" alt="">
                            <p>两制管理</p>
                        </a>
                        <a href="./monitoring.html" class="bottom">
                            <img src="../images/homePage-monitoring.png" alt="">
                            <p>全景监控</p>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="./green.html" class="top">
                            <img src="../images/homePage-green.png" alt="">
                            <p>绿色施工</p>
                        </a>
                        <a href="" class="bottom">
                            <img src="../images/homePage-schedule.png" alt="">
                            <p>进度管理</p>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="../components/safety.html" class="top">
                            <img src="../images/homePage-safety.png" alt="">
                            <p>安全管理</p>
                        </a>
                        <a href="" class="bottom">
                            <img src="../images/homePage-qualiy.png" alt="">
                            <p>质量管理</p>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="../components/location.html" class="top">
                            <img src="../images/homePage-location.png" alt="">
                            <p>人员定位</p>
                        </a>
                        <a href="" class="bottom">
                            <img src="../images/homePage-data.png" alt="">
                            <p>工程资料</p>
                        </a>
                    </li>
                    <!-- 测试滚动模块 -->
                    <!-- <li class="swiper-slide">
                        <a href="" class="top">
                            <img src="../images/homePage-labour.png" alt="">
                            <p>劳务管理</p>
                        </a>
                        <a href="" class="bottom">
                            <img src="../images/homePage-location.png" alt="">
                            <p>人员定位</p>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="" class="top">
                            <img src="../images/homePage-green.png" alt="">
                            <p>绿色施工</p>
                        </a>
                        <a href="" class="bottom">
                            <img src="../images/homePage-schedule.png" alt="">
                            <p>进度管理</p>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="" class="top">
                            <img src="../images/homePage-safety.png" alt="">
                            <p>安全管理</p>
                        </a>
                        <a href="" class="bottom">
                            <img src="../images/homePage-qualiy.png" alt="">
                            <p>质量管理</p>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="" class="top">
                            <img src="../images/homePage-monitoring.png" alt="">
                            <p>全景监控</p>
                        </a>
                        <a href="" class="bottom">
                            <img src="../images/homePage-data.png" alt="">
                            <p>工程资料</p>
                        </a>
                    </li> -->
                </ul>
                <!-- 导航栏滚动条 -->
                <div class="swiper-scrollbar"></div>
            </div>
            <!-- <div class="page">
                <div class="page-box"></div>
            </div> -->
        </div>
        <!-- 轮播图 -->
        <div class="slide">
            <div class="swiper-container" id="swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-pagination"></div>
            </div>  
        </div>
        <!-- 信息展示 -->
        <div class="particulars">
            <div class="particulars-title">
                <i></i>
                <span>项目详情</span>
            </div>
            <ul>
                <li>工程名称：深圳湾创新科技中心</li>
                <li>建设单位：深圳市投资控股有限公司</li>
                <li>监理单位：深圳市东部建设监理有限公司</li>
                <li>施工单位：中建二局第三建筑工程有限公司</li>
                <li>设计单位：深圳市建筑设计研究总院有限公司</li>
                <li>项管单位：深圳市投资控股有限公司</li>
                <li>咨询单位：深圳市国晨工程造价有限公司</li>
                <li>监督单位：深圳市东部建设监理有限责任公司</li>
                <li>勘察单位：深圳市水务规划设计院</li>
                <li>建设单位：深圳市投资控股有限公司</li>
                <li>监理单位：深圳市东部建设监理有限公司</li>
                <li>施工单位：中建二局第三建筑工程有限公司</li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/4.4.6/js/swiper.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script> -->
    <script src="../js/homePage.js"></script>
    <script src="../js/rem.js"></script>
</body>
</html>