<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智慧工地-劳务管理</title>
    <link rel="stylesheet" href="../css/labour.css">
</head>
<body>
    <!-- 劳务管理页面 -->
    <div class="main">
        <!-- 标题 -->
        <div class="title">
            两制管理
        </div>
        <!-- 工人出勤情况 -->
        <div class="attendance-rate">
            <div class="attendance-title">
                <i class="shade"></i>
                工人出勤情况
            </div>
            <div class="schedule">
                <div class="sub-schedule">
                    <p>100%</p>
                </div>
            </div>
            <div class="content-box">
                <div class="online">
                    <div class="content-top">
                        项目在线人数
                    </div>
                    <div class="content-bottom">
                        1888
                    </div>
                    <i class="rise"></i>
                </div>
                <div class="real-time">
                    <div class="content-top">
                        现场实时人数
                    </div>
                    <div class="content-bottom">
                        1888
                    </div>
                    <i class="rise"></i>
                </div>
                <div class="worker">
                    <div class="content-top">
                        今日工人出勤人数
                    </div>
                    <div class="content-bottom">
                        1888
                    </div>
                    <i class="rise"></i>
                </div>
                <div class="administrator">
                    <div class="content-top">
                        今日管理出勤人数
                    </div>
                    <div class="content-bottom">
                        1888
                    </div>
                    <i class="rise"></i>
                </div>
            </div>
        </div>
        <!-- 劳动合同签订 -->
        <div class="contract-box">
            <div class="left-box">
                <i class="shade"></i>
                <div class="box-title">
                    劳动合同签订
                </div>
                <div class="box-data">
                    <ul>
                        <li>共录入：1000人</li>
                        <li>共签订：800人</li>
                        <li>未签订：200人</li>
                        <li>是否合规：<span class="green-color">合规</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-box green-bg">
                <div class="border green-color"></div>
                <div class="subBorder green-color">
                    <div class="wrapper" style="right:0">
                        <div class="circleProgress rightcircle-green"></div>
                    </div>
                    <div class="wrapper" style="left:0">
                        <div class="circleProgress leftcircle-green"></div>
                    </div>
                </div>
                <span class="green-color">90%</span>
            </div>
        </div>
        <!-- 安全培训 -->
        <div class="contract-box">
            <div class="left-box">
                <i class="shade"></i>
                <div class="box-title">
                    安全培训
                </div>
                <div class="box-data">
                    <ul>
                        <li>共录入：1000人</li>
                        <li>共签订：800人</li>
                        <li>未签订：200人</li>
                        <li>是否合规：<span class="red-color">不合规</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-box red-bg">
                <div class="border red-color"></div>
                <div class="subBorder red-color">
                    <div class="wrapper" style="right:0">
                        <div class="circleProgress rightcircle-red"></div>
                    </div>
                    <div class="wrapper" style="left:0">
                        <div class="circleProgress leftcircle-red"></div>
                    </div>
                </div>
                <span class="red-color">90%</span>
            </div>
        </div>
        <!-- 进场确认书签订 -->
        <div class="contract-box">
            <div class="left-box">
                <i class="shade"></i>
                <div class="box-title">
                    进场确认书签订
                </div>
                <div class="box-data">
                    <ul>
                        <li>共录入：1000人</li>
                        <li>共签订：800人</li>
                        <li>未签订：200人</li>
                        <li>是否合规：<span class="green-color">合规</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-box green-bg">
                <div class="border green-color"></div>
                <div class="subBorder green-color">
                    <div class="wrapper" style="right:0">
                        <div class="circleProgress rightcircle-green"></div>
                    </div>
                    <div class="wrapper" style="left:0">
                        <div class="circleProgress leftcircle-green"></div>
                    </div>
                </div>
                <span class="green-color">90%</span>
            </div>
        </div>
        <!-- 人员信息完善度 -->
        <div class="contract-box">
            <div class="left-box">
                <i class="shade"></i>
                <div class="box-title">
                    人员信息完善度
                </div>
                <div class="box-data">
                    <ul>
                        <li>共录入：1000人</li>
                        <li>共签订：800人</li>
                        <li>未签订：200人</li>
                        <li>是否合规：<span class="green-color">合规</span></li>
                    </ul>
                </div>
            </div>
            <div class="right-box green-bg">
                <div class="border green-color"></div>
                <div class="subBorder green-color">
                    <div class="wrapper" style="right:0">
                        <div class="circleProgress rightcircle-green"></div>
                    </div>
                    <div class="wrapper" style="left:0">
                        <div class="circleProgress leftcircle-green"></div>
                    </div>
                </div>
                <span class="green-color">90%</span>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/labour.js"></script>
    <script src="../js/rem.js"></script>
</body>
</html>