<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../images/hujiang.ico" type="image/x-icon">
    <title>智慧工地-人员定位</title>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.13&key=b50968a4395c3e6e81326b99c217100a"></script> 
    <link rel="stylesheet" href="../css/location.css">
</head>
<body>
    <div id="main">
        <!-- 搜索框 -->
        <div class="search">
            <div class="nav">
                <div class="img-box"></div>
            </div>
            <div class="input-box">
                <input id="search" type="text" placeholder="请输入人员名称">
            </div>
            <div class="line">
                <i></i>
            </div>
            <div class="button">搜索</div>
        </div>
        <!-- 模糊查询 -->
        <div class="search-data">
            <ul id="searchList">
            </ul>
        </div>
        <!-- 侧导航栏 -->
        <div class="side-box" id="sideBox">
        </div>
        <!-- 实时数据 -->
        <div class="data-box" id="dataBox">
        </div>
        <!-- 历史轨迹 -->
        <div class="history-box" id="historyBox">
        </div>
        <!-- <button id="demo1" style="position: absolute; z-index: 600">123</button> -->
    </div> 

    <script src="../js/datePicker.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    
    <script src="../js/location.js"></script>
</body>
</html>