<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../images/hujiang.ico" type="image/x-icon">
    <title>智慧工地-视频监控</title>
    <link rel="stylesheet" href="../css/monitoring.css">
    <script src="https://open.ys7.com/sdk/js/1.4/ezuikit.js"></script>
</head>
<body>
    <div class="main">
        <!-- 标题 -->
        <div class="title">
                全景监控
        </div>
        <!-- 监控内容 -->
        <div class="content">
            <div class="monitoring">
                <video class="player1" width="100%" height="100%"
                    controls="controls" autoplay="autoplay"
                    x-webkit-airplay="true" x5-video-player-fullscreen="true"
                    preload="auto" playsinline="true" webkit-playsinline
                    x5-video-player-typ="h5"&gt;
                    <source type="application/x-mpegURL" src="http://hls.open.ys7.com/openlive/ca669b0ff0cd42278fc62f4289d1d890.m3u8">
                </video>
            </div>
            <div class="monitoring">
                <video class="player1" width="100%" height="100%"
                    controls="controls" autoplay="autoplay"
                    x-webkit-airplay="true" x5-video-player-fullscreen="true"
                    preload="auto" playsinline="true" webkit-playsinline
                    x5-video-player-typ="h5"&gt;
                    <source type="application/x-mpegURL" src="http://hls.open.ys7.com/openlive/adf349f277a447bd9e67ea78ae5cd2e2.m3u8">
                </video>
            </div>
            <div class="monitoring">
                <video class="player1" width="100%" height="100%"
                    controls="controls" autoplay="autoplay"
                    x-webkit-airplay="true" x5-video-player-fullscreen="true"
                    preload="auto" playsinline="true" webkit-playsinline
                    x5-video-player-typ="h5"&gt;
                    <source type="application/x-mpegURL" src="http://hls.open.ys7.com/openlive/f01018a141094b7fa138b9d0b856507b.m3u8">
                </video>
            </div>
            <div class="monitoring">
                <video class="player1" width="100%" height="100%"
                    controls="controls" autoplay="autoplay"
                    x-webkit-airplay="true" x5-video-player-fullscreen="true"
                    preload="auto" playsinline="true" webkit-playsinline
                    x5-video-player-typ="h5"&gt;
                    <source type="application/x-mpegURL" src="http://hls.open.ys7.com/openlive/f01018a141094b7fa138b9d0b856507b.m3u8">
                </video>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js//monitoring.js"></script>
</body>
</html>