<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../images/hujiang.ico" type="image/x-icon">
    <title>智慧工地-巡检详情</title>
    <link rel="stylesheet" href="../css/qualityParticulars.css">
</head>
<body>
    <!-- 巡检详情页面 -->
    <div class="main">
        <div class="state-box ">
        </div>
        <div class="centent-box">
            
        </div>
        <!-- <div class="centent-box">
            <div class="title">
                地下室二层漏水
            </div>
            <div class="justify">
                <span>隐患类型</span>
                <span class="white-color">施工用电</span>
            </div>
            <div class="justify">
                <span>检查区域</span>
                <span class="white-color">低碳产业园</span>
            </div>
            <div class="justify">
                <span>分包单位</span>
                <span class="white-color">深圳伟业建筑有限公司</span>
            </div>
            <div class="border-bottom"></div>
            <div class="justify">
                <span>问题级别</span>
                <span class="slight">轻微</span>
            </div>
            <div class="describe">
                <p>问题描述</p>
                <span>线路直接挂在外架杆子上</span>
            </div>
            <div class="pic-box">
                <img src="../images/temp4.jpg" alt="">
            </div>
            <div class="justify">
                <span>检查人</span>
                <span class="white-color">王家兴</span>
            </div>
            <div class="justify">
                <span>检查时间</span>
                <span class="white-color">2018-01-01 15：00</span>
            </div>
            <div class="line"></div>
            <div class="title">
                整改通知
            </div>
            <div class="justify">
                <span>整改人</span>
                <span class="white-color">伟业-张东方</span>
            </div>
            <div class="justify">
                <span>整改时限</span>
                <span class="white-color">2018-09-09</span>
            </div>
            <div class="describe">
                <p>整改要求</p>
                <span>使用电缆支架作绝缘挂设</span>
            </div>
            <div class="title">
                第一次整改
            </div>
            <div class="describe">
                <p>整改结果</p>
                <span>使用电缆支架作绝缘挂设</span>
            </div>
            <div class="name">
                整改后照片
            </div>
            <div class="pic-box" style="margin-bottom: .175rem">
                <img src="../images/temp4.jpg" alt="">
            </div>
            <div class="justify">
                <span>复查人</span>
                <span class="white-color">王家兴</span>
            </div>
            <div class="justify">
                <span>复查意见</span>
                <span class="white-color">通过</span>
            </div>
            <div class="name">
                复查后照片
            </div>
            <div class="pic-box" style="margin-bottom: .25rem">
                <img src="../images/temp4.jpg" alt="">
            </div>
            <div class="line"></div>
            <div class="title">
                流程
            </div>
            <div class="flow-box">
                <ul>
                    <li>
                        <div class="dot"></div>
                        <div class="left-box">
                            <span>安全工程师&nbsp;&nbsp;王家兴</span>
                            <br>
                            <span>2018.07.17 15:36</span>
                        </div>
                        <div class="right-box">
                            发起安全整改
                        </div>
                    </li>
                    <li>
                        <div class="dot"></div>
                        <div class="vertical"></div>
                        <div class="left-box">
                            <span>项目负责人&nbsp;&nbsp;伟业-张东方</span>
                            <br>
                            <span>2018.07.17 22:36</span>
                        </div>
                        <div class="right-box">
                            整改完成
                        </div>
                    </li>
                    <li>
                        <div class="dot"></div>
                        <div class="vertical"></div>
                        <div class="left-box">
                            <span>安全工程师&nbsp;&nbsp;王家兴</span>
                            <br>
                            <span>2018.07.17 23:36</span>
                        </div>
                        <div class="right-box">
                            复检通过
                        </div>
                    </li>
                </ul>
            </div>
            <div class="border-bottom"></div>
            <div class="copy">
                <span>抄送人</span>
                <span>某某某、某某某</span>
            </div>
        </div> -->
        <div class="review-button">
            <div class="pass">通过</div>
            <div class="no-pass">不通过</div>
        </div>
        <div class="abarbeitung-button" style="display:none">
            整改
        </div>
        <div class="review-box" style="display:none">
            <div class="popup-box">
                <div class="title">
                    现场照片
                </div>
                <textarea rows="7" placeholder="请输入复查意见......"></textarea>
                <div class="title">
                    现场照片
                </div>
                <div class="pic">
                    <img src="../images/establish-addPic.png" alt="" class="review-addPic">
                    <div class="review-uploading" style="display:none">正在上传...</div>
                    <input type="file" id='image' accept="image/*" capture='camera' class="review-camera" style="display:none">
                </div>
                <div class="border-top">
                    <div class="fill"></div>
                </div>
                <div class="option-box">
                    <div class="review-cancel">
                        取消
                    </div>
                    <div class="vertical"></div>
                    <div class="review-affirm">
                        确认
                    </div>
                </div>
            </div>
        </div>
        <div class="abarbeitung-box" style="display:none">
            <div class="popup-box">
                <div class="title">
                    现场照片
                </div>
                <textarea rows="7" placeholder="请输入整改结果......"></textarea>
                <div class="title">
                    现场照片
                </div>
                <div class="pic">
                    <img src="../images/establish-addPic.png" alt="" class="addPic">
                    <div class="uploading" style="display:none">正在上传...</div>
                    <input type="file" id='image' accept="image/*" capture='camera' class="camera" id="camera" style="display:none">
                </div>
                <div class="border-top">
                    <div class="fill"></div>
                </div>
                <div class="option-box">
                    <div class="abarbeitung-cancel">
                        取消
                    </div>
                    <div class="vertical"></div>
                    <div class="abarbeitung-affirm">
                        确认
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- <script src="https://cdn.bootcss.com/Swiper/4.4.6/js/swiper.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script> -->

    <script src="../js/qualityParticulars.js"></script>
    <script src="../js/rem.js"></script>
</body>
</html>